:root {
    --rojo-pokemon: #ff1c1c;
    --amarillo-pokemon: #ffcb05;
    --azul-pokemon: #3d7dca;
    --azul-oscuro: #0a285f;
    --blanco-nube: #f0e7e7;
    --negro-carbon: #212121;
}

body {
    margin: 0;
    font-family: 'Montserrat' , 
    sans-serif;
    background-color: var(--blanco-nube);
    color: var(--blanco-nube);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;

}


nav {
    background-color: var(--rojo-pokemon);
    padding: 1rem;
    border-bottom: 5px solid var(--azul-oscuro);
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

nav a:hover {
    color: var(--amarillo-pokemon);
    text-shadow: 2px 2px var(--azul-oscuro);
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
}

.card {
    position: relative;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 2px solid var(--azul-pokemon);
    border-radius: 20px;
    padding: 40px;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cerrar {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    color: var(--amarillo-pokemon);
}

.cerrar:hover {
    color: var(--amarillo-pokemon);
    transform: sacle(1.2);
}

h1, h2 {
    color: var(--amarillo-pokemon);
    text-shadow: 3px 3px var(--azul-pokemon);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;

}
h1 {
    text-align: center;
    margin-bottom: 60px;
    color: var(--amarillo-pokemon);
    text-shadow: 3px 3px var(--azul-pokemon);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    color: var(--blanco-nube);
    text-shadow: 2px 2px var(--azul-oscuro);
}

.btn-pokemon {
    background-color: var(--amarillo-pokemon);
    color: var(--azul-oscuro);
    padding: 15px 40px;
    border: 4px solid var(--azul-oscuro);
    border-radius: 50px; 
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    width: 20px;
    height: 20px;
}

.btn-pokemon:hover {
    background-color: var(--rojo-pokemon);
    color: white;
    transform: scale(1.1);
    box-shadow: 0 10px 30px rgba(255, 28, 28, 0.6);
}

.modal {
    background: rgba(0 ,0, 
    0, 0.8);
}

.modal-content {
    background-color: #2c2c2c; 
    color: var(--blanco-nube);
    border: 3px solid var(--amarillo-pokemon);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 20px var(--azul-pokemon);
}

footer {
    background-color: #111;
    padding: 20px;
    text-align: center;
    font-size: 0.8rem;
    color: #666;
}
